body {
  background-color: #ffffff;
}

header {
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

main ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

main ul li {
  background-size: cover;
  height: 300px;
  margin: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  padding: 0 30px;
}

.nav a {
  text-decoration: underline;
  color: #131511;
}

.logo {
  height: 30px;
  float: left;
  padding-top: 10px;
}

main {
  background-color: #F2F1E8;
  font-family: "Merriweather",serif;
}

h1 {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  color: #131511;
}

h2 {
  text-align: center;
  font-weight: 200;
  color: #131511;
}

h5 {
  display: inline;
  background-color: #131511;
  color: #F2F1E8;
  font-weight: 200;
  padding: 10px;
  width: min-content;
  position:relative;
  top: 250px;
}

#product1 {
  flex-basis: 700px;
  background-image: url("images/product-1.jpg");
}

#product2 {
  flex-basis: 200px;
  background-image: url("images/product-2.jpg");
}

#product3 {
  flex-basis: 200px;
  background-image: url("images/product-3.jpg");
}
