body {
  background-color: #F2F1E8;
  margin:0;
}

header {
  font-family: "Roboto",sans-serif;
  background-color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 6px;
  width: 100%;
  position: fixed;
  top: 0;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.home main ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.top-row {
  background-size: cover;
  height: 300px;
  margin: 10px;
}

.bottom-row {
  background-size: cover;
  height: 200px;
  margin: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  padding: 0 30px;
}

.nav a {
  text-decoration: underline;
  color: #2B2F26;
}

.nav a:hover {
  color: #CD5D67;
}

body.home a.home, body.about a.about, body.newsletter a.newsletter {
  color: #968772;
}

.logo {
  height: 30px;
  float: left;
  padding-top: 10px;
}

main {
  margin-top: 100px;
  font-family: "Merriweather",serif;
}

h1 {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  color: #131511;
  margin-bottom: 10px;
}

.home h2 {
  text-align: center;
  font-weight: 200;
  font-size: 1.8em;
  color: #131511;
  margin-top: 0;
}

.about h2 {
  text-align: left;
  font-weight: 200;
  font-size: 1.8em;
  color: #131511;
  margin: 0;
  margin-top: 30px;
  padding-left: 10px;
}

li h5 {
  display: inline;
  background-color: #131511;
  color: #F2F1E8;
  font-weight: 200;
  padding: 10px;
  width: min-content;
  position:relative;
}

.top-row h5 {
  top: 250px;
}

.bottom-row h5 {
  top: 150px;
}

#product1 {
  flex-basis: 700px;
  background-image: url("images/product-1.jpg");
}

#product2 {
  flex-basis: 200px;
  background-image: url("images/product-2.jpg");
}

#product3 {
  flex-basis: 200px;
  background-image: url("images/product-3.jpg");
}

#product4 {
  flex-basis: 190px;
  background-image: url("images/product-4.jpg");
}

#product5 {
  flex-basis: 190px;
  background-image: url("images/product-5.jpg");
}

#product6 {
  flex-basis: 500px;
  background-image: url("images/product-6.jpg");
}

#product7 {
  flex-basis: 200px;
  background-image: url("images/product-7.jpg");
}

#birdhouse {
  width: 20%;
  margin:20px;
  float:left;
}

#pots {
  width: 100%;
  margin:0;
  margin-top: 20px;
  height: 100px;
}

footer {
  display: block;
  margin: 0;
  padding: 10px 40px;
  background-color: #131511;
  color: #F2F1E8;
}

footer h5 {
  font-weight: 200;
}

section {
  width: 50%;
  line-height: 2;
  margin: 10px auto;
  font-weight: 300;
}

section p {
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
}

blockquote {
  font-size: 0.8em;
  margin: 0 0 0 10px;
  padding: 0 0 0 40px;
  border-left: 1px solid #131511;
}

.room-to-grow {
  background-image: url("images/background-3.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div h1 {
  color: #ffffff;
}

figure {
  flex-basis: 300px;
  margin:0;
}

.facilities-content {
  display: flex;
}

.facilities-paragraph {
  flex-basis: 1100px;
  margin: 0;
  margin-right: 10px;
}

.caption {
  font-size: 0.5em;
}

.about ul {
  list-style: none;
}

table {
  border-spacing: 0;
  margin-bottom: 40px;
}

th {
  border:1px solid #131511;
  margin:0;
  padding: 5px 10px;
  font-weight: 100;
}

td {
  border:1px solid #131511;
  border-top: 0;
  margin:0;
  padding: 5px 10px;
}

th:first-child,th:nth-child(2),td:first-child,td:nth-child(2) {
  border-right:0;
}

#row1, #row3 {
  background-color: #F2E3D0;
}

.intro a {
  color: #968772;
}

.intro a:hover {
  color: #967343;
}
